@charset "UTF-8";
/*   Resetando o HTML  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/*  Importando as outras linhas de estilo    */
/*  Estilo do Header com o menu  */
header {
  width: 100%;
  margin-top: 5px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

i {
  color: white;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: black;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: 0.8s;
}

.header-button a {
  color: white;
}

.header-button:hover {
  border: 1px solid black;
  background-color: black;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  width: 65%;
  min-width: 182px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .header-logo img {
    margin-top: 50px;
  }
  .header-button {
    display: none;
  }
  .header-icons {
    font-size: 20px;
  }
}
/*  Estilo do home    */
.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin-top: 20px;
  color: white;
}
.home-content h1 {
  font-size: 40px;
  align-items: center;
  justify-content: center;
}
.home-content p {
  font-size: 20px;
  align-items: center;
  text-align: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
}
.home-content a {
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: 0.8s;
}

.home-botton:hover { /* Mudar o botão entrar em contato de cor ao colocar mouse */
  border: 1px solid black;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .home-content h1 {
    font-size: 30px;
  }
  .home-content p {
    max-width: 350px;
  }
  .home-content a {
    border: 1px solid black;
    background-color: black;
  }
}
/* ---------------ABOUT--------------------  */
.about-content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
  border-radius: 5px;
}

.about-content div {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-text {
    max-width: 90%;
  }
}
/*  Estilo da aba serviços   */
.service-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0px 44px 34px 44px;
  flex: 1;
}
.service-content img {
  max-height: 310px;
}
.service-content p {
  background-color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-top: -5px;
  font-size: 20px;
  box-shadow: 0px -1px 17px -4px black;
}

.service-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .service-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  img {
    max-width: 447px;
  }
}
/*    Cuidando do tamanho da tela sem afetar o background   */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/*   Resetando as configurações do CSS-SASS   */
body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: blueviolet;
}

button {
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*   FIM    Resetando as configurações do CSS-SASS   *//*# sourceMappingURL=style.css.map */